<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>FP650 - 403 Error</title>
    <link href="/styles/bounce.css" rel="stylesheet" type="text/css" />
    <link href="/styles/style.css" rel="stylesheet" type="text/css" />
    <!-- <script async src="https://api.countapi.xyz/hit/firepup650.repl.co/visits"></script> -->
    <!-- <script async src="https://api.countapi.xyz/hit/firepup650.repl.co/403error"></script> -->
  </head>
  <body>
    <h5 hidden id='Maintenance' class="center"></h5>
    <h1 class="center warning">403 Forbidden</h1>
    <% if (typeof message !== 'undefined') { %>
      <h2 class="center warning">Error message:</h2>
      <p class="center warning"><%= message %></p>
    <% } else { %>
      <p class="center warning">The requested page is forbidden to access on the server.</p>
    <% } %>
    <script src="/scripts/script.js"></script>
  </body>
</html>
