<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>FP650 - 422 Error</title>
    <link href="/styles/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h5 hidden id='Maintenance' class="center"></h5>
    <h1 class="center warning">422 Unprocessable Entity</h1>
    <% if (typeof message !== 'undefined') { %>
      <h2 class="center warning">Error message:</h2>
      <p class="center warning"><%= message %></p>
    <% } else { %>
      <p class="center warning">The requested url did not match a valid image request format.</p>
    <% } %>
    <script src="/scripts/script.js"></script>
    <noscript><br/><br/><footer class="rainbow">Hey there buddy, just wanted to let you know that I completely understand not enabling javascript. On the other hand, it means certain features of my site (e.g. the footer, the password generator, the cheese and DVD logo, etc.) just won't work for you.</footer></noscript>
  </body>
</html>
