<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>FP650 - 422 Error</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link href="/styles/bounce.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h5 hidden id='Maintenance' class="center"></h5>
    <h1 class="center warning">422 Unprocessable Entity</h1>
    <% if (typeof message !== 'undefined') { %>
      <h2 class="center warning">Error message:</h2>
      <p class="center warning"><%= message %></p>
    <% } else { %>
      <p class="center warning">The requested url did not match a valid image request format.</p>
    <% } %>
    <script src="/script.js"></script>
  </body>
</html>
