<!DOCTYPE html>
<html>
  <head>
    <title>FP650 - Server Info</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href="/styles/bounce.css" rel="stylesheet" type="text/css" />
    <!-- <script async src="https://api.countapi.xyz/hit/firepup650.repl.co/visits"></script> -->
    <!-- <script async src="https://api.countapi.xyz/hit/firepup650.repl.co/abtserv"></script> -->
  </head>
  <body>
    <h5 hidden id='Maintenance' class="center"></h5>
    <span class=center>
     <h3 class=rainbow>Server Info:</h3>
     <p class=rainbow>Author: <%= author %></p>
     <p class=rainbow>System Uptime: <%= system %></p>
     <p class=rainbow>Node Uptime: <%= uptime %></p>
     <p class=rainbow>Total Pages: <%= images %></p>
    </span>
    <script src="/script.js"></script>
  </body>
</html>
