/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap'); */

:root {
    --fp-primary: #0F0;
    --fp-background: #000;
    --fp-secondary: #0FF;
    --fp-danger: #F00;
    --fp-dim: #111;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/SourceCodePro.ttf');
}

* {
    color-scheme: light dark;
    font-family: 'Source Code Pro', monospace !important;
    color: var(--fp-primary);
}

html, body {
    height: 100%;
    width: 100%;
    color: var(--fp-primary);
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace !important;
}

html {
    background-color: var(--fp-background);
}

.warning {
    color: var(--fp-danger);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.block {
    width: 100%;
}

footer {
    margin-top: auto;
    text-align: center;
}

a:has(button) {
    box-shadow: none !important;
    transform: none !important;
}

#replit-badge {
    box-shadow: none;
    transform: none;
    outline: none;
    background: var(--fp-background);
}

.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.rainbow {
    background: linear-gradient(to right, #F00 0%, #E0F 10%, #0BF 30%, #0F1 50%, #F00 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.color {
    color: var(--fp-primary);
}

.force-color {
    background: var(--fp-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.no-special {
    box-shadow: none !important;
    border-radius: unset !important;
    outline: none !important;
    transition: none !important;
}

pre {
    background: var(--fp-dim);
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

code {
    overflow-x: auto;
    display: block;
    margin: 0ch 1ch;
}
