/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap'); */

@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/SourceCodePro.ttf');
}

* {
  color-scheme: light dark;
  font-family: 'Source Code Pro', monospace !important;
}

html, body {
    height: 100%;
    width: 100%;
    color: #00FF00;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace !important;
}

html {
    background-color: #000000;
}

.warning {
    color: #FF0000;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.block {
    width: 100%;
}

footer {
    margin-top: auto;
    text-align: center;
}

a:has(button) {
    box-shadow: none !important;
    transform: none !important;
}

#replit-badge {
    box-shadow: none;
    transform: none;
    outline: none;
    background: #000000;
}

.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

/*
.rainbow {
    background: linear-gradient(90.02deg, #ff0000 0.02%, #e100ff 27.09%, #00b3ff 51.04%, #00ff1e 76.56%, #ff0000 99.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
*/

.rainbow {
    background: linear-gradient(to right, #ff0000 0%, #e100ff 10%, #00b3ff 30%, #00ff1e 50%, #ff0000 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.color {
    color: #00FF00;
}

.force-color {
    background: #00ff00;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.no-special {
    box-shadow: none !important;
    border-radius: unset !important;
    outline: none !important;
    transition: none !important;
}
